annotated-types
asgiref
autocommand
certifi
cffi
chardet
charset-normalizer
comtypes
crispy-bootstrap5
cryptography
defusedxml
distlib
dj-database-url
Django
django-allauth
django-ckeditor
django-crispy-forms
django-email
django-environ
django-filter
django-js-asset
django-multiselectfield
djangorestframework
env
environ
filelock
gunicorn
idna
inflect
jaraco.context
jaraco.env
jaraco.functools
jaraco.text
Markdown
more-itertools
MouseInfo
oauthlib
packaging
path
pillow
pip-review
pip-run
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
pycparser
pydantic
pydantic_core
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
PyScreeze
python3-openid
pytweening
pytz
requests
requests-oauthlib
setuptools
sqlparse
typeguard
typing_extensions
tzdata
urllib3
virtualenv
whitenoise